@import "tailwindcss";
@theme {
  --blue-1000: #2a8af6;
  --purple-1000: #a853ba;
  --red-1000: #e92a67;
  --bg-primary: #ffffff;
  --bg-card: #ffffff;
  --text-heading: #33272a;
  --text-paragraph: #594a4e;
  --accent-highlight: #ff8ba7;
  --accent-secondary: #ffc6c7;
  --accent-tertiary: #c3f0ca;
}