@theme {
  --color-primary: oklch(53.73% 0.192 264);
  --color-primary-50: oklch(91.45% 0.023 264);
  --color-primary-100: oklch(84% 0.053 263);
  --color-primary-200: oklch(76.41% 0.089 264);
  --color-primary-300: oklch(68.9% 0.128 263);
  --color-primary-400: oklch(61.26% 0.165 264);
  --color-primary-500: oklch(53.73% 0.192 264);
  --color-primary-600: oklch(46.08% 0.213 264);
  --color-primary-700: oklch(38.61% 0.231 264);
  --color-primary-800: oklch(31.11% 0.189 264);
  --color-primary-900: oklch(23.67% 0.143 264);
  --color-primary-950: oklch(16.24% 0.095 264);
}
